


.img-container:hover {
  opacity: .8;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #53edc9;
  -moz-box-shadow: 0px 0px 8px #53edc9;
  -webkit-box-shadow: 0px 0px 8px #53edc9;
  width: 75%;
}

.img-container {
  width: 75%;

}

img {
  border-radius: 8px;
  margin: 5px;
  width: 95%;
}